@define-color cyan rgb(5, 143, 143);
@define-color cyan-light #50b1b1;
@define-color cyan-dark #012b2b;

@define-color black rgb(15, 16, 21);

@define-color dark-blue rgb(11, 1, 28);

@define-color red rgb(197, 5, 42);

@define-color white #faf1dd;

@define-color background #0b011c;
@define-color foreground #3c3449;
@define-color blue #292c49;
@define-color magenta #9a578a;
@define-color pink #e35473;
@define-color teal #55d4b2;
@define-color bordo #a5334a;

* {
    all: unset;
    font-family: "GoMono Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: alpha(@dark-blue, 0.75);
    color: @black;
}

tooltip {
    background-color: @black;
    border: 2px solid @cyan;
    border-radius: 10px;
}

tooltip label {
    padding: 2px;
    color: @red;
}

/*
=================================
========= MODULES LEFT ==========
=================================
*/

#workspaces button {
    color: @cyan;
    padding: 5px;
    transition: all 200ms ease-in-out;
}

#workspaces button:hover {
    border-radius: 10px;
    background-color: alpha(@white, 0.1);
}

#workspaces button.active {
    color: @red;
    border-radius: 20px;
    border-bottom: 4px;
    text-shadow: 0 0 4px @red;
    border-top: 3px solid @cyan;
    border-bottom: 3px solid @cyan;
}

#workspaces button.empty:not(.active) {
    color: alpha(@cyan, 0.3);
}

/* TASKBAR */

#taskbar button {
    padding: 5px;
}

#taskbar button.active {
    border-radius: 7px;
    border-left: 3px solid @teal;
    border-right: 3px solid @red;

    border-top: 3px solid @teal;
    border-bottom: 3px solid @red;
}

#taskbar button:hover {
    border-radius: 7px;

    background-color: alpha(@dark-blue, 0.3);
}

/* hyprland current active window title */
#window {
    color: @white;
}

/*
=================================
========= MODULES CENTER ========
=================================
*/

#clock {
    color: @red;
    border-bottom: 3px solid @red;
    border-top: 3px solid @red;
}

#custom-distro {
    padding-left: 4px;
    color: @cyan;
    border-bottom: 3px solid @cyan;
    border-top: 3px solid @cyan;
}

#mpris {
    color: @teal;
    border-bottom: 3px solid @teal;
    border-top: 3px solid @teal;
}

#mpris.paused {
    color: @red;
    border-bottom: 3px solid @red;
    border-top: 3px solid @red;
}

/*
=================================
========= MODULES RIGHT =========
=================================
*/
#custom-notification {
    color: @magenta;
    border-top: 3px solid @magenta;
    border-bottom: 3px solid @magenta;
    padding-right: 3px;
}

#bluetooth {
    color: @teal;
    border-top: 3px solid @teal;
    border-bottom: 3px solid @teal;
}

#network {
    padding-left: 3px;
    color: @pink;
    border-top: 3px solid @pink;
    border-bottom: 3px solid @pink;
}

#pulseaudio {
    color: @white;
    border-top: 3px solid @white;
    border-bottom: 3px solid @white;
}

#cpu {
    color: @blue;
    border-top: 3px solid @blue;
    border-bottom: 3px solid @blue;
}

#memory {
    color: @cyan;
    border-top: 3px solid @cyan;
    border-bottom: 3px solid @cyan;
}

#memory:hover {
    color: @cyan-light;
    border-top: 3px solid @cyan-light;
    border-bottom: 3px solid @cyan-light;
    transition: all 150ms ease-in-out;

}

#disk {
    color: @red;
    border-top: 3px solid @red;
    border-bottom: 3px solid @red;
}

#idle_inhibitor {
    color: @teal;
    border-top: 3px solid @teal;
    border-bottom: 3px solid @teal;
}

#language {
    color: @magenta;
    border-top: 3px solid @magenta;
    border-bottom: 3px solid @magenta;
}

#custom-settings {
    padding-left: 4px;
    color: @white;
    border-top: 3px solid @white;
    border-bottom: 3px solid @white;
}
