:root {
    --cyan: rgb(3, 106, 110); /* boreal harbor */
    --cyan-light: rgb(79, 151, 154); /* 30% lighter */
    --cyan-dark: rgb(1, 42, 44); /* 60% darker */

    --teal: ;
    --teal-light: ;
    --teal-dark: ;
}